.todo-form{
  display:flex;
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  padding: 3px;
  text-align: center;

}

.form-container{
  display: flex;
  width: 100%;

}
.input-form{
  width: 100%;
}

/* .select-container {
  margin: 30px;
} */