.completed {
  color: red;
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-text{
  display: inline-block;
  width: 100%;
  text-align: left;
}

.todo-item{
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin: 10px auto;
}

.delete-button{
  margin-left: auto;
  color: red;
}